RegisterLsp('denols', {
  filetypes = { 'typescript' },
  init_options = {
    enable = true,
    unstable = true,
    importMap = './import_map.json',
  },
  root_dir = require 'lspconfig'.util.root_pattern('.git'),
})

vim.cmd 'au! BufRead,BufNewFile *.eta setlocal filetype=html'

print('Project Settings loaded!')
